 * {
  margin: 0;
  padding: 0;
}
.informative {
  padding: 5% 5% 5% 5%;
  margin: 2% 3% 2% 3%;
  max-width: 50%;
}

#presentation {
  text-align: left;
}

#how-to {
  text-align: justify;
}

body {
  
  background-color: #719c9a;
  font-family: 'Tomorrow', sans-serif;
  font-weight: normal;
  text-emphasis-style: bold;
  color: #719c9a;
  text-align: center;

}

input,
textarea,
button {
  border-radius: 5px;
  font-size: 2em;
  background-color: #FFFFFF;
  padding: 0.2em;
  border: 1px solid #719c9a;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

header {
  text-align: center;
  color: #FFFFFF;
  display: block;
  font-size: 3rem;
  position: top;
  margin: 5% 10% 5% 10%;
  padding: 2% 3% 2% 3%;
}

p {
  margin: 2% 2% 2% 2%;
  padding: 2% 2% 2% 2%;
  font-size: 1.2em;
  color:#FFFFFF;
  position: top;

}

fieldset {
  border: 0;
}

.group {
  position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5% 10% 5% 10%;
  margin: 5% 10% 5% 10%;
}

button {
  font-size: 1.2em;
  border: 0;
  width: inherit;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.key {
  position: center;
  width: 200px;
  font-size: 1em;
  text-align: center;
  margin: 5px;
  align-self: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  margin: 5% 5% 5% 5%;
} 

.buttons:hover {
  background-color: #719c9a;
  color:black;
}


#help {
  font-size: 0.8em;
  text-justify: distribute-all-lines;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  position: bottom;
  color: #719c9a;
  margin: 10% 10% 10% 10%;
}
